html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  // background-image: url('https://z3.ax1x.com/2021/10/19/5d0lsH.jpg');
  // background-image: url('../images/bg/hans-isaacson-qpZwI93acxU-unsplash.jpeg');
  background-color: #000;
  // background: linear-gradient(to top, rgb(0, 90, 167), rgb(255, 253, 228));
  // background: #00416A;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bottom {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 220px;
  width: 100vw;
  left: 0;
  padding: 20;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  .bottom_section {
    .chrome_tab_link {
      color: #a3907e;
      font-size: 12px;
      cursor: pointer;
      margin-bottom: 10px;
      font-style: italic;
      text-decoration: underline;
      display: inline-block;
    }
  }
}

.history, .download, .note {
  flex: 1;
  min-width: 0;
  .title {
    display: flex;
  }
  .chrome_tab_link {
    color: #a3907e;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;
    font-style: italic;
    &:hover {
      text-decoration: underline;
    }
  }
}

.download {
  margin-left: 20px;
}
.note {
  textarea {
    background-color: transparent;
    outline: none;
    color: #cdd5d5;
    border: 0.5px solid transparent;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    width: 100%;
    height: 100%;
    &:hover {
      border-color: rgb(163, 163, 163);
    }
    &::placeholder {
      color: #cdd5d5;
      font-size: 12px;
    }
  }
}


#garden {
  padding: 30px;
}

.url_item, .download_item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  .link_wrap {
    flex: 1;
    margin-left: 12px;
    min-width: 0;
    display: flex;
    a {
      justify-self: start;
      display: block;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #cdd5d5;
      font-size: 12px;
      &:hover {
        color: #f8f8f9;
      }
    }
  }
}

.url_item .key {
  text-transform: uppercase;
  background: #595a5c;
  color: #fff;
  font-size: 13px;
  padding: 4px 0;
  border-radius: 2px;
  width: 26px;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.download_item .download_folder {
  cursor: pointer;
  font-size: 12px;
}
