html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background-image: url('https://z3.ax1x.com/2021/10/19/5d0lsH.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#garden {
  padding: 30px;
}

.bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 220px;
  width: 100vw;
  left: 0;
  padding: 20;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}
.history, .download {
  flex: 1;
}
.history .title, .download .title {
  display: flex;
}
.history .chrome_tab_link, .download .chrome_tab_link {
  color: #a3907e;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
  font-style: italic;
}
.history .chrome_tab_link:hover, .download .chrome_tab_link:hover {
  text-decoration: underline;
}

.url_item, .download_item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.url_item .key {
  text-transform: uppercase;
  background: #595a5c;
  color: #fff;
  font-size: 13px;
  padding: 4px 0;
  border-radius: 6px;
  width: 26px;
  display: flex;
  justify-content: center;
}

.url_item a, .download_item a {
  margin-left: 12px;
  color: #cdd5d5;
  font-size: 14px;
}
.url_item a:hover, .download_item a:hover {
  color: #f8f8f9;
}

.download_item .download_folder {
  cursor: pointer;
}
